# Models (too large for git)
models/*.pth
models/*.pkl

# Data files
/models
/outputs
/uploads
/Wav2Lip




# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
Thumbs.db
app.log

#ENV
.venv
requirement.txt
.env

