# Models (too large for git)
models/*.pth
models/*.pkl

# Data files
/models
/outputs
/uploads


# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# OS
.DS_Store
Thumbs.db

#ENV
.venv
requirement.txt
.env

